<div class="container">
  <h1 class="slogan">Blocipedia: a place for community-sourced content.</h1>
  <div class="media">
    <p>
      <strong>Our goal:</strong>  is creating a great place for collaborators to come together and work on whatever excites them!<br />
      Whether it's for a hobby or work-related project, at Blocipedia we're here for all your collaborative needs.
    </p>
  </div>
</div>
