<div class="container">
  <h1>Blocipedia</h1>
  <div class="media-heading">
    <h3>Welcome to Blocipedia, a place for community-sourced content.</h3>
  </div>
  <div class="media">
    <p>
      Sign-up and start working today!
    </p>
  </div>
</div>
