<br  />
<div class="jumbotron">
  <h1>Blocipedia</h1>
  <h2>Social, Markdown Wikis</h3>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5 accounts">
    <h2>Free Plan Includes:</h2>
    <h3>Unlimited Public Wikis!</h3>
  </div>
  <div class="col-md-5 accounts">
    <h2>Premium Plan Includes:</h2>
    <h3>Unlimited Private Wikis!</h3>
  </div>
  <div class="col-md-1">
  </div>
</div>
